.form{
    color: map-get($map: $colors, $key: primary);
    &__upload{
        background-color: map-get($map: $colors, $key: greysub );
        border-radius: 15px;
    }
    &__find{
        background-color: map-get($map: $colors, $key: greysub );
        border-radius: 15px;
    }
    &__title{
        color: map-get($map: $colors, $key: primary);
    }
    &__btn{
        color: map-get($map: $colors, $key: text_light );
        width: fit-content;
        background-color: map-get($map: $colors, $key: secondary );
        &:hover{
            background-color: map-get($map: $colors, $key:secondary_hover );
            color: map-get($map: $colors, $key: text_light );
        }
        &--find{
            font-size: 0.5em;
        }
    }
}