.hero{
    transition: all 1s;
    &__title{
        transition: all 1s;
        @include tablet{
            text-align: center;
        }
    }
    &__subtitle{
        @include tablet{
            text-align: center;
        }
    }
}